@keyframes btn__before { 
	0% { 
		left: 0%;
	}
	25% {
		left: 25%;
	}
	50% {
		left: 0;
	}
	50% {
		left: 50%;
	}
	100% {
		left: 100%;
	}
}

@keyframes btn__after {
	0% {
		-o-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	50% {
		-o-transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-o-transform: scale(.9);
		-moz-transform: scale(.9);
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}
}

.btn {
	@extend .pos-rel;
	@extend .align-top;
	@extend .d-inline-block;
	@extend .cursor-pointer;
	@extend .text-center;
	@extend .text-uppercase;
	@extend .overflow-hidden;
	color: $white;
	border: 1px solid rgba(0,0,0,0);
	letter-spacing: 0.05em;
	border-radius: 7px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.15);
	background-color: #f8961d;
	
	&:hover {
		color: $white;
		box-shadow: none;

		&:before {
			@extend .d-none;
		}
	}

	&:active {
		@extend .btn;
		box-shadow: none;
		color: #f8961d;
		border-color: #f8961d;
		background-color: $white;

		&:before {
			@extend .d-none;
		}
	}

	&:before {
		@extend .no-c;
		@include pos-base;
		bottom: 0;
		width: 50%;		
		background: -moz-linear-gradient(left,  rgba(248,150,29,0) 0%, rgba(248,95,29,1) 50%, rgba(248,150,29,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(248,150,29,0) 0%,rgba(248,95,29,1) 50%,rgba(248,150,29,0) 100%);
		background: linear-gradient(to right,  rgba(248,150,29,0) 0%,rgba(248,95,29,1) 50%,rgba(248,150,29,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f8961d', endColorstr='#00f8961d',GradientType=1 );
		-o-animation: btn__before 4s ease-out 0s alternate infinite none running;
		-moz-animation: btn__before 4s ease-out 0s alternate infinite none running;
		-webkit-animation: btn__before 4s ease-out 0s alternate infinite none running;
		animation: btn__before 4s ease-out 0s alternate infinite none running;
	}

	&:focus {
		@extend .btn;
	}
	
	&.btn-lg {
		padding-top: 13px;
		padding-bottom: 13px;

		&:after {
			@extend .no-c;
			@extend .pos-abs;
			left: 8%;
			right: 8%;
			bottom: 0;
			height: 9px;
			background: url(../img/btn-lg.svg) no-repeat scroll center bottom rgba(0,0,0,0);
			
			-o-animation: btn__after 4s ease-out 0s alternate infinite none running;
			-moz-animation: btn__after 4s ease-out 0s alternate infinite none running;
			-webkit-animation: btn__after 4s ease-out 0s alternate infinite none running;
			animation: btn__after 4s ease-out 0s alternate infinite none running;
		}
		
		&:active {
			background-size: 80% auto;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-image: url(../img/btn-lg-hover.svg);

			&:after {
				@extend .d-none;
			}
		}

		@include media-breakpoint-up(md) {
			padding-left: 32px;
			padding-right: 32px;
		}

		@include media-breakpoint-only(sm) {
			padding-left: 15px;
			padding-right: 15px;
		}

		@include media-breakpoint-up(sm) {
			font-size: 0.85*$font-size__md;
		}

		@include media-breakpoint-only(xsm) {
			padding-left: 10px;
			padding-right: 10px;
			font-size: $font-size__xmd;
		}

		@include media-breakpoint-only(xs) {
			font-size: 13px;
		}

		&:hover,
		&:focus {
			@extend .btn.btn-lg;
		}
	}
	
	&.btn-md {
		font-weight: 300;
		padding: 11px 42px;

		&:hover,
		&:focus {
			@extend .btn.btn-md;
		}
	}
	
	&.btn-sm {
		@include fs-fw(14px,300);
		padding: 7px 18px;

		&:hover,
		&:focus {
			@extend .btn.btn-sm;
		}
	}
	
	&.btn-long {
		padding-left: 57px;
		padding-right: 57px;

		&:hover,
		&:focus {
			@extend .btn.btn-long;
		}
	}
	
	&.btn-short {
		padding-left: 35px;
		padding-right: 35px;

		&:hover,
		&:focus {
			@extend .btn.btn-short;
		}
	}
	
	&.w-xsm-100 {
		@include media-breakpoint-down(xsm) {
			padding-left: 5px;
			padding-right: 5px;
		}

		&:hover,
		&:focus {
			@extend .btn.w-xsm-100;
		}
	}
	
	&.btn-icon {
		@include size(36px,36px); 
		background-color: #f8961d;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 3px;

		&:before,
		&:after {
			@extend .d-none;
		}

		&:hover,
		&:focus {
			@extend .btn.btn-icon;
		}
	}
	
	&.btn-icon-phone {
		background-image: url(../img/icons/icon-phone.svg);
		background-size: 80% auto;

		&:hover,
		&:focus {
			@extend .btn.btn-icon-phone;
		}
	}
	
	&.btn-success {
		background: #a9bd27;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.15);

		&:before,
		&:after {
			@extend .d-none;
		}

		&:hover,
		&:focus {
			@extend .btn.btn-success;
		}
	}
	
	&.btn-inverted {
		color: #2d4e8a;
		box-shadow: none;
		border-radius: 3px;
		border-color: #2d4e8a;
		background: $white;

		&:before {
			@extend .d-none;
		}

		&:hover,
		&:focus {
			@extend .btn.btn-inverted;
		}
	}
}