.feature {
	@extend .pos-rel;
	@extend .text-center;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;

	@include media-breakpoint-up(sm) {
		@include transition(all 0.3s ease 0s);
	}

	&:before {
		@extend .no-c;
		@include size(256px,330px);
		@include pos-lt(50%,-29px);
		margin: 0 0 0 -128px;
		border-radius: 7px;
		box-shadow: 1px 1px 7px rgba(0,0,0,0.15);
		background: $white;
		z-index: 1;
		
		@include media-breakpoint-up(sm) {
			@include transition(all 0.3s ease 0s);
			opacity: 0;
			visibility: hidden;
		}

		@include media-breakpoint-down(xsm) {
			display: none;
		}
	}
	
	@include media-breakpoint-up(sm) {
		@include offset(0 auto 45px,110px 0 0);
		width: 240px;

		&:hover {
			margin: -60px auto 105px;
			z-index: 2;

			&:before {
				opacity: 1;
				visibility: visible;
			}

			.feature__title-inner {
				padding: 0 7px;
				color: $white;
				background: #f8981d;
			}
			
			.feature__text {
				opacity: 1;
				visibility: visible;
			}
		}
	}	
	
	@include media-breakpoint-down(xsm) {
		padding: 90px 0 0;
		
		&.active {
			@include offset(-60px auto 0,110px 0 0);
			z-index: 2;

			&:before {
				display: block;
			}

			.feature__title-inner {
				padding: 0 7px;
				color: $white;
				background: #f8981d;
			}
			
			.feature__text {
				display: block;
			}

			.feature__title {
				font-size: $font-size__default;
			}
		}
	}
	
	@include media-breakpoint-only(xsm) {
		&.active {
			&.feature_odd {
				margin-right: -90px;
			}

			&.feature_even {
				margin-left: -90px;
			}

			.feature__title {
				padding-left: 0;
				padding-right: 0;
				font-size: $font-size__default;
				
				&.feature__title_px {
					padding-left: 45px;
					padding-right: 45px;
				}
			}
		}
	}
	
	@include media-breakpoint-only(xs) {
		//width: 240px;

		&.active {
			margin-bottom: 60px;
			
			&.feature_odd {
				right: -50px;
			}

			&.feature_even {
				left: -50px;
			}

			.feature__title {
				margin-top: -20px;

				margin-left: -10px;
				margin-right: -10px;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.feature__icon {
	@include pos-base;
	right: 0;
	height: 90px;
	z-index: 2;
	background-repeat: no-repeat;
	background-color: rgba(0,0,0,0);
	background-position: center center;

	@include media-breakpoint-up(sm) {
		@include transition(all 0.3s ease 0s);
	}
	
	&.feature__icon_quality {
		background-image: url(../img/icons/icon-quality.svg);
	}
	
	&.feature__icon_factory {
		background-image: url(../img/icons/icon-factory.svg);
	}

	&.feature__icon_workers {
		background-image: url(../img/icons/icon-workers.svg);
	}
	
	&.feature__icon_docs {
		background-image: url(../img/icons/icon-docs.svg);
	}

	&.feature__icon_term {
		background-image: url(../img/icons/icon-term.svg);
	}
	
	&.feature__icon_warranty {
		background-image: url(../img/icons/icon-warranty.svg);
	}
}

.feature__title {
	@extend .zi-2;
	color: #2d4e8a;
	font-weight: 300;
	letter-spacing: 0.05em;
	line-height: $line-height__content;

	@include media-breakpoint-up(sm) {
		@include transition(all 0.3s ease 0s);
		//width: 240px;
		//margin: 0 auto;
		padding-left: 15px;
		padding-right: 15px;
		font-size: $font-size__default;
	
		&.feature__title_px {
			padding-left: 50px;
			padding-right: 50px;
		}
	}

	@include media-breakpoint-down(xsm) {
		height: 80px;
		font-size: $font-size__sm;
	
		&.feature__title_px {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
	
	/*
	@include media-breakpoint-only(xs) {
		//width: 240px;
		//margin: 0 auto;
		padding-left: 45px;
		padding-right: 45px;
		
		&.feature__title_px {
			padding-left: 75px;
			padding-right: 75px;
		}
	}
	*/
}

.feature__title-inner {
	@extend .d-inline;
	
	@include media-breakpoint-up(sm) {
		@include transition(all 0.3s ease 0s);
	}
}

.feature__text {
	@extend .px-3;
	@include pos-lt(50%,200px);
	@include fs-lh($font-size__sm,$line-height__content);
	width: 256px;
	margin: 0 0 0 -128px;
	font-weight: 300;
	color: #2d4e8a;
	z-index: 2;

	@include media-breakpoint-up(sm) {
		@include transition(all 0.3s ease 0s);
		opacity: 0;
		visibility: hidden;
	}

	@include media-breakpoint-down(xsm) {
		display: none;
	}
}