$font-color__default: $black;
$font-color__dark: $black;
$font-color__light: $black;

$link-color__default: $black;
$link-color__hover: $black;

$title-color__default: $black;
$title-color__colored: $black;

$btn-color__default: #f1f1f1;
$btn-color__alert: #f56323;
$btn-color__primary: #0055a5;
$btn-color__2: $black;
$btn-color__3: $black;
$btn-color__4: $black;

$border-color: rgba(0,0,0,0.4);
$danger-color: #f90e12;