.no-c {
	content: '';
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.pos-stat {
	position: static;
}

.zi-1 {
	@extend .pos-rel;
	z-index: 1;
}

.zi-2 {
	@extend .pos-rel;
	z-index: 2;
}

.zi-3 {
	@extend .pos-rel;
	z-index: 3;
}

.zi-none {
	@extend .pos-rel;
	z-index: -1 !important;
}

.w-100 {
	width: 100%;
	max-width: 100%;
}

.w-xl-100 {
	@include media-breakpoint-up(xl) {
		width: 100%;
		max-width: 100%;
	}
}

.w-xsm-100 {
	@include media-breakpoint-down(xsm) {
		width: 100%;
		max-width: 100%;
	}
}

.h-100 {
	height: 100%;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.mb-lg {
	@include media-breakpoint-up(lg) {
		//margin-bottom: 85px;
		margin-bottom: 70px;
	}
	
	@include media-breakpoint-between(sm,md) {
		//margin-bottom: 65px;
		margin-bottom: 50px;
	}
	
	@include media-breakpoint-down(xsm) {
		//margin-bottom: 45px;
		margin-bottom: 35px;
	}
}

.mb-md {
	@include media-breakpoint-up(lg) {
		//margin-bottom: 65px;
		margin-bottom: 50px;
	}
	
	@include media-breakpoint-down(md) {
		//margin-bottom: 45px;
		margin-bottom: 35px;
	}
}

.pt-md {
	@include media-breakpoint-up(lg) {
		//padding-top: 60px;
		padding-top: 45px;
	}
	
	@include media-breakpoint-down(md) {
		//padding-top: 45px;
		padding-top: 35px;
	}
}

.pb-md {
	@include media-breakpoint-up(lg) {
		//padding-bottom: 60px;
		padding-bottom: 45px;
	}
	
	@include media-breakpoint-down(md) {
		//padding-bottom: 45px;
		padding-bottom: 35px;
	}
}

.pt-lg {
	@include media-breakpoint-up(lg) {
		//padding-top: 75px;
		padding-top: 60px;
	}
	
	@include media-breakpoint-between(sm,md) {
		//padding-top: 60px;
		padding-top: 45px;
	}
	
	@include media-breakpoint-down(xsm) {
		//padding-top: 50px;
		padding-top: 40px;
	}
}

.pb-lg {
	@include media-breakpoint-up(lg) {
	}
	
	@include media-breakpoint-between(sm,md) {
	}
	
	@include media-breakpoint-down(xsm) {
	}
}

.overflow-hidden {
	overflow: hidden;
}

.cursor-pointer {
	cursor: pointer;
}

.default-transition {
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.outline-none {
	outline: none;
	
	&:hover,
	&:focus {
		@extend .outline-none;
	}
}

.dec-underline {
	text-decoration: underline;
	
	&:hover,
	&:focus {
		@extend .dec-underline;
	}
}

.dec-none {
	text-decoration: none;
	
	&:hover,
	&:focus {
		@extend .dec-none;
	}
}

.dec-hover {
	text-decoration: none;
	
	&:hover,
	&:focus {
		@extend .dec-underline;
	}
}

.tab-pane {
	@extend .d-none;
	
	&.active {
		@extend .d-block;
	}
}

.bg-colored {
	background: #2d4e8a;
	
	&.bg-successed {
		background: #a9bd27;
	}
	
	&.bg-error {
		background: #f85f1d;
	}
	
	&.bg-light {
		background: #c3d7f1;
	}
}

.bg-white {
	@extend .default-transition;
	background: $white;
}

.delay09 {
	animation-delay:.9s;
	-webkit-animation-delay:.9s;
}

.delay07 {
	animation-delay:.7s;
	-webkit-animation-delay:.7s;
}

.delay05 {
	animation-delay:.5s;
	-webkit-animation-delay:.5s;
}

.delay03 {
	animation-delay:.3s;
	-webkit-animation-delay:.3s;
}

.delay01 {
	animation-delay:.1s;
	-webkit-animation-delay:.1s;
}

.animated {
	&.animated05 {
		-webkit-animation-duration: .5s;
		-moz-animation-duration: .5s;
		-o-animation-duration: .5s;
		animation-duration: .5s;
	}
}