$font-family__default: 'Open Sans', Arial, sans-serif;
$font-family__logo: $font-family__default;

$font-size__default-md: 14px;
$font-size__default: 18px;
$font-size__xs: 10px;
$font-size__sm: 12px;
$font-size__xmd: 16px;
$font-size__md: 24px;
$font-size__lg: 32px;
$line-height__default: 1;
$line-height__content: 1.4;

$title-size__default: $font-size__lg;
$title-size__lg: 36px;
$title-size__md: $title-size__default;